<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Create a pizza</title>
</head>
<body>
<!-- Attributi pizza(Pizza) -->
<div class="container">
<h1>Create Pizza</h1>
    <hr>
    <!-- Form mappato sull'oggetto book -->
    <form
        id="create-pizza"
        method="post"
        th:object="${pizza}"
        th:action="@{/pizzas/create}"
        class="row"
        >
        <div class="col-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"
            th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
        <ul>
            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
        </ul>
            </div>
        <div class="col-6">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" th:field="*{description}"
            th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        <div class="col-6">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="number" id="price" th:field="*{price}"
            th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-primary mt-4">Save pizza</button>
            <a class="btn btn-primary mt-4" th:href="@{/pizzas}">Cancel</a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>